/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-background-color: #f8f8f8;
  --alt-background-color: #0891b2;
  --main-text-color: #000000;
  --alt-text-color: #ffffff;
  --slight-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--main-background-color);
  font-family: "Noto Sans", sans-serif;
}

header::after {
  background-color: var(--alt-background-color);
  display: block;
  content: "";
  height: 1000px;
  width: 100vw;
  position: absolute;
  top: -700px;
  z-index: -1;
  transform: skewY(-10deg);
  box-shadow: var(--slight-shadow);
}

footer {
  background-color: var(--alt-background-color);
  color: var(--alt-text-color);
}

h1,
h2,
h3 {
  font-family: "JetBrains Mono", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 600px;
}

.icon {
  width: 30px;
}

.link-container {
  display: flex;
  gap: 8px;
}

#profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  width: 1000px;
}

#profile-pic-container {
  position: relative;
  box-shadow: var(--slight-shadow);
}

#profile-pic-container h1 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  color: var(--alt-text-color);
}

#profile-picture {
  width: 1400px;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 40px 0;
  padding: 40px 20px 20px 20px;
  background-color: var(--main-background-color);
  box-shadow: var(--slight-shadow);
  font-size: 1.4rem;
}

#about .link-container {
  margin-top: 20px;
  align-self: flex-end;
}

#projects {
  margin: 80px 0;
}

#projects .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#project-list {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

#project-list li {
  box-shadow: var(--slight-shadow);
  list-style-type: none;
}

#project-list .icon {
  width: 28px;
}

#project-list .project-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

#project-list .project-text .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
