/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-background-color: #f8f8f8;
  --alt-background-color: #b46142;
  --card-background-color: #fcf4e6;
  --main-text-color: #000000;
  --detail-text-color: #626262;
  --alt-text-color: #ffffff;
  --slight-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}

body {
  background-color: var(--main-background-color);
  font-family: "Noto Sans", sans-serif;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
}

header::after {
  background-color: var(--alt-background-color);
  display: block;
  content: "";
  height: 1000px;
  width: 100%;
  position: absolute;
  top: -700px;
  z-index: -1;
  transform: skewY(-10deg);
  box-shadow: var(--slight-shadow);
}

footer {
  background-color: var(--alt-background-color);
  color: var(--alt-text-color);
  padding: 80px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "JetBrains Mono", sans-serif;
}

h1,
h2 {
  font-size: 1.8rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 1320px;
}

.icon {
  width: 30px;
  transition: transform 0.25s ease-out;
}

a:hover .icon {
  transform: translateY(-4px);
}

.card {
  transition: transform 0.25s ease-out;
}

.card:hover {
  transform: scale(1.03);
}

.link-container {
  display: flex;
  gap: 8px;
}

.footer-container {
  display: flex;
  gap: 8px;
}

#profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  width: 1000px;
}

#profile-pic-container {
  position: relative;
}

#profile-pic-container h1 {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  color: var(--alt-text-color);
  font-size: 2.4rem;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  padding-left: 8px;
  transition: transform 0.5s ease-in-out 0.1s;
  will-change: transform;
}

#profile-pic-container h1 span {
  display: inline-block;
  transition: transform 0.5s ease-in-out 0.1s;
  will-change: transform;
}

#profile-pic-container:hover h1 {
  transform: rotateY(180deg);
}

/* Keep text the same orientation */
#profile-pic-container:hover h1 span {
  transform: rotateY(180deg);
}

#profile-picture {
  width: 1400px;
  box-shadow: var(--slight-shadow);
  transition: transform 0.5s ease-in-out 0.1s;
  will-change: transform;
}

#profile-pic-container:hover #profile-picture {
  transform: rotateY(180deg);
}

#about {
  display: flex;
  flex-direction: column;
  width: 2000px;
  gap: 16px;
  margin: 40px 0;
  padding: 40px 20px 20px 20px;
  background-color: var(--card-background-color);
  box-shadow: var(--slight-shadow);
}

#about p {
  color: var(--detail-text-color);
}

#about .link-container {
  margin-top: 20px;
  align-self: flex-end;
}

#projects {
  margin: 80px 0;
}

#projects .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#project-list {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

#project-list li {
  background-color: var(--card-background-color);
  box-shadow: var(--slight-shadow);
  list-style-type: none;
  width: 412px;
  justify-self: center;
}

#project-list .icon {
  width: 28px;
}

#project-list .project-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

#project-list .project-text p {
  color: var(--detail-text-color);
}

#project-list .project-text .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 1.4rem;
}

#footer-text .email {
  color: var(--alt-text-color);
}

#footer-text .link-container {
  gap: 28px;
}

#footer-text .link-container .icon {
  width: 40px;
}

#footer-picture {
  width: 600px;
  box-shadow: var(--slight-shadow);
}

@media (max-width: 1325px) and (min-width: 750px) {
  .container {
    width: 90vw;
  }

  #profile-container {
    width: 90vw;
  }

  #profile-pic-container {
    min-width: 300px;
  }

  #profile-pic-container h1 {
    transform: none;
    font-size: 2rem;
    white-space: normal;
  }

  #project-list {
    grid-template-columns: 1fr 1fr;
  }

  #project-list li {
    width: auto;
  }

  #footer-picture {
    width: 480px;
  }

  #footer-text {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  h2,
  h3 {
    text-align: center;
  }

  header::after {
    top: -750px;
    transform: skewY(-30deg);
  }

  footer {
    padding: 10px 0 0 0;
  }

  .container {
    width: 100vw;
    flex-direction: column;
  }

  .icon {
    width: 40px;
  }

  #profile-container {
    flex-direction: column;
    width: 100vw;
    margin: 20px 0;
  }

  #profile-picture {
    width: 300px;
  }

  #profile-pic-container h1 {
    transform: none;
    font-size: 2rem;
    white-space: normal;
  }

  #about {
    width: 100vw;
    box-shadow: none;
    background-color: transparent;
    font-size: 1.1rem;
    padding: 40px 60px 20px 60px;
  }

  #about .link-container {
    align-self: center;
    gap: 24px;
  }

  #projects {
    margin: 20px 0;
  }

  #project-list {
    grid-template-columns: 1fr;
  }

  #project-list .project-text .title {
    gap: 8px;
  }

  #project-list .icon {
    width: 24px;
  }

  #footer-text {
    font-size: 1.2rem;
    padding: 20px;
    gap: 24px;
    margin: 0 20px 80px 20px;
    align-items: center;
    text-align: center;
  }

  #footer-text .icon {
    width: 30px;
  }

  #footer-text .link-container {
    align-self: center;
    margin-top: 20px;
  }

  #footer-picture {
    width: 100vw;
  }
}
